body {
    background-color: #f2f2f2;
    font-size: 1rem;
    font-family: "Roboto", serif;
    font-weight: 400;
    font-style: normal;
    color: #e15e32;
}
.menu-navegacao {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 5px;
    padding: 30px;
    gap: 45px;
}

.link-icone {
    display: flex;
    align-items: center; 
    gap: 2px;
    color:#e15e32;
}

.link-menu:active{
    opacity: 0.5; 
}

main {
    padding: 5%;
    display: flex;
    justify-content:center;
    align-items: center;
    gap: 20px;
}

.sobre-mim {
    display: flex;
    flex-direction: column; /* Empilha texto e botões em coluna */
    gap: 10px; /* Espaço entre os textos e os botões */
    width: 50%;
    max-width: 500px; /* Limita a largura do texto */
    text-align: justify;
}

.img-freepik {
    width: 30%;
    height: 440px;
    border-radius: 8px;
    object-fit: cover;
}

.rede-social {
    display: flex;
    flex-direction: column;
    align-items: center; /* Alinha os botões com o texto */
    gap: 8px; /* Espaço entre os botões */
    width: 100%;
    font-weight: 400;
}

.btn-rede-social {
    border: 2px solid #e15e32;
    border-radius: 5px;
    padding: 7px;
    width: 100px;
}

.rodape {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-top: 2px solid #f5835d;
    padding: 10px;
}

#logo-alura-include { 
    width: 5%;
}

#paragrafo-footer {
    color: #00a9d4;
    font-size: 13px;
    margin-top: 5px;
    font-weight: bold;
}