*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: #363242;
    font-family: "Roboto", serif, arial, sans-serif;
    line-height: 1.5;
    font-size: 1rem;
    font-weight: 400;
    font-style: normal;
    color: #efefe8; /* #88aacd */
}

h1 {
    font-size: 1.5rem;
}

p {
    font-size: 1.1rem;
}

a {
    text-decoration: none;
}